
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.brand-logo{
    font-family: 'Grand Hotel', cursive;
}
a{
    color:black !important;
}
.login-container{
    margin-top: 35px;
}
.login-card{
    padding: 22px;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
}
.input-field input:focus {
    border-bottom: 1px solid rgb(42,39,190) !important; 
    box-shadow: 0 1px 0 0 rgb(42,39,190) !important;
  }



  